/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #3d405b;
}

header {
    background-color: #f2cc8f;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.slide {
    background-color: #f4f1de;
    padding: 2em;
    margin: 1em 0;
    box-shadow: 0 0 10px #3d405b;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

footer {
    background-color: #f2cc8f;
    color: #f4f1de;
    text-align: center;
    padding: 1em 0;
}

@media (max-width: 600px) {
    .slide {
        width: 100%;
        padding: 1em;
    }
}